<div>
    <h2>My posts:</h2>
    {{#each allPosts as |blogpost|}}
    <section class="card">
        <!-- The contents of this card links to the board page using the UserPost ID -->
        <a href="dashboard/edit/{{id}}">
            <!-- The card contains the post name and submission date as the card header -->
            <header class="content-header">
                <h2>
                    {{title}}   
                </h2>
                {{createdAt}}
            </header>
            <p>{{content}}</p>
        </a>
    </section>
    <div class="post-options">
        {{!-- <button class="edit-post" value="{{blogpost.id}}" form>Edit</button> --}}
        <button class="btn delete-post" value="{{blogpost.id}}">Delete</button>
    </div>
    {{/each}}
    <h2>Add post:</h2>
    
    <section class="card">
        <form id="create-post" autocomplete="off">
            <label for="title">Title</label><br>
            <textarea type="text" id="title" name="title" value="Title..." rows="1" cols="50"></textarea><br><br>
            <label for="content">Content</label><br>
            <textarea type="text" id="content" name="content" value="Content..." rows="4" cols="50"></textarea><br><br>
            <input type="submit" value="Submit">
        </form>
    </section>
</div>

<script src="./js/dashboard.js"></script>