{{!-- <h2>Old:</h2>
<section class="card">
    <div class="blog post">
        <header class="content-header">  
        <h2>{{post.title}}</h2>
        <p>{{post.user.username}}</p>
        </header>
        
        <p>{{post.content}}</p>
    </div>
</section> --}}
<div class="container">
    <h2>Old:</h2>
    {{>blogpost-details post}}

    <h2>New:</h2>
    <section class="card">
        <form id="update-post" autocomplete="off">
            <textarea type="text" id="edit-title" name="title" rows="1" cols="50">{{post.title}}</textarea><br><br>
            <textarea type="text" id="edit-content" name="content" rows="4" cols="50">{{post.content}}</textarea><br><br>
            {{!-- <input type="text" id="content" name="content" value="Content..."><br><br> --}}
            <input type="submit" value="Submit Changes">
        </form>
    </section>

</div>
<script src="/js/edit.js"></script>