<section class="card">
  <!-- The contents of this card links to the board page using the UserPost ID -->
    <h2>Old:</h2>
    <div class="blog post">
        <!-- Top of the page, post gets SLIGHTLY different style with the h2 -->
        <header class="content-header">  
        <h2>{{post.title}}</h2>
        <p>{{post.user.username}}</p>
        <p>{{post.createdAt}}</p>
        </header>
        
        <p>{{post.content}}</p>
    </div>
    <h2>New:</h2>
    <form id="update-post">
        <textarea type="text" id="edit-title" name="title" rows="1" cols="50">{{post.title}}</textarea><br><br>
        <textarea type="text" id="edit-content" name="content" rows="4" cols="50">{{post.content}}</textarea><br><br>
        {{!-- <input type="text" id="content" name="content" value="Content..."><br><br> --}}
        <input type="submit" value="Submit Changes">
    </form>
</section>
<script src="/js/edit.js"></script>